/*Comentario*/
#inicio{
	font-family:Arial, sans-serif;
	font-size: 24px;
		
	background-color: #5F2222;
	
}
h1{
	color: pink;
	border: dashed;
	border-width: 15px;
	border-color: #37fcd9;
	text-align: center;
}
a{
	color: blue;
	width: 50px;
	height: 20px;
	padding: 20px;
	margin: 40px;
	margin-top: 60px;
	margin-bottom: 60px;
	border: dashed;
	border-width: 5px;
	border-color: #37fcd9;
	text-align: center;
	text-decoration-line: underline;
	text-decoration-color: #6128F7;
	text-decoration-style: wavy;
}
a:hover{
	color: #3CFF20;
}
a:visited{
	color: red;
}
b{
	color: black;
}
li{
	color: #800004;
	font-size: 20px;
}
#logo{
	text-align: left;
}
img[src*='.png']{
	border-style: solid;
	background-color: white;
}
header{
	background-color: #a36dd2;
	border:groove;
	border-width:20px;
	border-color: #378c49;
	padding: 10px;
	padding-left: 35px;
	padding-right: 35px;
	margin: 10px;
}
nav{
	background-color: #deb887;
	border:outset;
	border-width:20px;
	border-color: #4dcbdd;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left:40px;
	padding-right:40px;
	margin: 20px;
	margin-top: 10px;
}
ul{
	font-family: Arial, "Comic Sans MS", Calibri;
	background-color: #eacb6b;
	padding: 20px;
	padding-left: 30px;
	margin: 40px;
	margin-top: 25px;
	margin-bottom: 15px;
}
ol{
	font-family: Arial, "Comic Sans MS", Calibri;
	background-color: #8cf0ed;
	padding: 20px;
	padding-left: 40px;
	margin: 40px;
	margin-top: 25px;
	margin-bottom: 15px;
}
ul.a {list-style-type: circle;}
ul.b {list-style-type: square;}
ol.c {list-style-type: upper-roman;}
ol.d {list-style-type: lower-alpha;}
.dentro{list-style-position: outside;}
#listarosa{
	background-color: pink;
}
.verde{
	color: green;
}
.fondoVerde{
	background-color: green;
	color: white;
}
.rojo{
	color: #800004;
}
.fondoRojo{
	background-color: red;
	color: white;
}
.azul{
	color: blue;
}
.fondoAzul{
	background-color: blue;
	color: white;
}
.naranja{
	color: #663D00;
}
.fondoNaranja{
	background-color: #663D00;
	color: white;
}
.listapokeball{
	list-style-image: url("pokeball.png");
	padding-left: 50px;
}
