/*Comentario*/
div{
	display: inline-block;
	font-weight: bold;
	height: 150px;
	width: 150px;
	background-color: #c3ee77;
	border-style: ridge;
	border-width:20px;
	border-color: green;
	transition-property: color, width, background-color, border-radius, text-align, transform;
	transition-duration: .3s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;
	text-align: center;
}
div#uno{
	border-top-right-radius: 30px;
	border-bottom-left-radius: 30px;
}
div#uno:hover{
	border-top-right-radius: 90px;
	border-bottom-left-radius: 90px;
}
div#uno:active{
	border-top-right-radius: 130px;
	border-bottom-left-radius: 130px;
}
div#dos{
	background-image: linear-gradient(#88a653, #88a653, #c3ee77, #c3ee77, #d5f39f, #d5f39f, white);

}
div#dos:hover{
	color: red;
	background-image: linear-gradient(#88a653, #88a653, #c3ee77, #c3ee77, pink, red, red, pink ,#d5f39f, #d5f39f, white);
	text-align: center;
}
div#dos:active{
	color: blue;
	border-color: red;
	background-image: url(https://i.imgflip.com/2fddzr.jpg);
	transform: rotate(360deg);
}
div#tres{
	border-radius: 50px;
	background-image: radial-gradient(white, #d5f39f, #c3ee77, #c3ee77, #c3ee77, #88a653, #88a653);

}
div#tres:hover{
	border-radius: 100px;
	color: red;
	background-image: radial-gradient(pink, red, #d5f39f, #c3ee77, #c3ee77, #c3ee77, #88a653, #88a653, #88a653);
	text-align: center;
}
div#tres:active{
	border-radius: 150px;
	color: blue;
	border-color: red;
	background-image: url(https://i.imgflip.com/2fddzr.jpg);
	transform: rotate(360deg);
}
div#cuatro{
	border-radius: 50px;
	background-image: repeating-radial-gradient(white, #d5f39f 10%, #c3ee77 10%, #88a653 10%);
}
div#cuatro:hover{
	border-radius: 100px;
	color: red;
	background-image: radial-gradient(pink, pink, red, red, red, white, #d5f39f, #c3ee77, white, #d5f39f, #c3ee77, white, #d5f39f, #c3ee77, white, #d5f39f, #c3ee77, white, #d5f39f, #c3ee77, white, #d5f39f, #c3ee77, white, #d5f39f, #c3ee77);
	text-align: center;
}
div#cuatro:active{
	border-radius: 200px;
	color: blue;
	border-color: red;
	background-image: url(https://i.imgflip.com/2fddzr.jpg);
	transform: rotate(360deg);
}
div#cinco{
	transition-property: color, width, background-color, border-radius, text-align, transform;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;
}
div#cinco:hover{
	color: red;
	background-image: radial-gradient(pink, pink, red, red, red, white, #d5f39f, #c3ee77, white, #d5f39f, #c3ee77, white, #d5f39f, #c3ee77, white, #d5f39f, #c3ee77, white, #d5f39f, #c3ee77, white, #d5f39f, #c3ee77, white, #d5f39f, #c3ee77);
	text-align: center;
}
div#cinco:active{
	margin: 200px;
	color: blue;
	border-color: red;
	background-image: url(https://i.imgflip.com/2fddzr.jpg);
	transform: rotate(360deg) translate(750px);
}
div#seis{
	margin-right: 50px;
	transition-property: color, width, background-color, border-radius, text-align, transform;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;
}
div#seis:hover{
	color: red;
	background-image: radial-gradient(pink, pink, red, red, red, white, #d5f39f, #c3ee77, white, #d5f39f, #c3ee77, white, #d5f39f, #c3ee77, white, #d5f39f, #c3ee77, white, #d5f39f, #c3ee77, white, #d5f39f, #c3ee77, white, #d5f39f, #c3ee77);
	text-align: center;
	transform: translate(100px);
}
div#seis:active{
	color: blue;
	border-color: red;
	background-image: url(https://i.imgflip.com/2fddzr.jpg);
	transform: rotate(360deg) translateY(150px);
}
div#siete{
	border-radius: 30px;
	transform: rotate(45deg);
}
div#siete:hover{
	color: red;
	background-image: radial-gradient(pink, pink, red, red, red, white, #d5f39f, #c3ee77, white, #d5f39f, #c3ee77, white, #d5f39f, #c3ee77, white, #d5f39f, #c3ee77, white, #d5f39f, #c3ee77, white, #d5f39f, #c3ee77, white, #d5f39f, #c3ee77);
	text-align: center;
}
div#siete:active{
	color: blue;
	border-color: red;
	background-image: url(https://i.imgflip.com/2fddzr.jpg);
	transform: rotate(180deg) translate(750px);
}
div#ocho{
	border-top-right-radius: 30px;
	border-bottom-left-radius: 30px;
}
div#ocho:hover{
	color: red;
	background-image: radial-gradient(pink, red, #c3ee77, #c3ee77, #c3ee77, #c3ee77, #c3ee77);
	height: 100px;
	width: 100px;
}
div#ocho:active{
	color: blue;
	border-color: red;
	background-image: url(https://i.imgflip.com/2fddzr.jpg);
	transform: translateX(400px);
	height: 600px;
	width: 600px;
}
div#nueve{
	border-top-right-radius: 30px;
	border-bottom-left-radius: 30px;
}
div#nueve:hover{
	color: red;
	background-image: radial-gradient(pink, red, #c3ee77, #c3ee77, #c3ee77, #c3ee77, #c3ee77);
	transform: skew(45deg);
	height: 100px;
	width: 100px;
}
div#nueve:active{
	color: blue;
	border-color: red;
	background-image: url(https://i.imgflip.com/2fddzr.jpg);
	transform: skew(-45deg);
}

div:hover{
	color: red;
	background-image: radial-gradient(pink, red, #c3ee77, #c3ee77, #c3ee77, #c3ee77, #c3ee77);
	text-align: center;
	height: 200px;
	width: 200px;
}
div:active{
	color: blue;
	border-color: red;
	background-image: url(https://i.imgflip.com/2fddzr.jpg);
	transform: rotate(360deg);
	height: 300px;
	width: 300px;
}