#inicio{
	background: url(https://www.logaster.com.es/blog/wp-content/uploads/2019/01/4-min.jpg);
	background-size: 100%;
}
#logo{
	background: rgba(140,250,170,0.8);
	color: white;
	text-align: center;
	border: solid 10px;
	border-radius: 15px;
	height: 80px;
	padding-top: 5px;
	text-align: center;
	margin-left: 525px;
	margin-right: 525px;
}
#paginas{
	background: rgba(255,255,100,0.8);
	color: black;
	text-align: center;
	border: groove 20px;
	border-radius: 30px;
	border-color: yellow;
	margin-left: 200px;
	margin-right: 200px;
	padding-bottom: 10px;
}
#body2{
	background: rgba(25,25,25,0.5);
	color: white;
	border: groove 20px;
	border-radius: 20px;
	margin-left: 50px;
	margin-right: 50px;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 20px;
	margin-top: 50px;
}
body{
	border: 2px solid black;
	background: rgba(25,25,25,0.5);
	color: white;
	text-align: center;
	padding: 10px;
	padding-left: 40px;
	padding-right: 40px;
	margin: 25px;
	margin-left: 50px;
	margin-right: 50px;
}
p{
	text-align: center;
}
li{
	display: inline;
	font-weight: bold;
	height: 50px;
	width: 150px;
	background-color: #c3ee77;
	padding	: 10px; 	
	border-style: ridge;
	border-width:5px;
	border-color: green;
	transition-property: color, width, background-color, border-radius, text-align, transform;
	transition-duration: .3s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;
	text-align: center;
}
li:hover{
	color: blue;
	border-color: blue;
	background-image: radial-gradient(#c3ee77, #c3ee77, #c3ee77, #c3ee77, #c3ee77);
	text-align: center;
	height: 70px;
	width: 175px;
}
li:active{
	color: red;
	border-color: red;
	background-color: red;
	/*
	background-image: url(https://i.imgflip.com/2fddzr.jpg);*/
}