#inicio{
	background: url(https://i.pinimg.com/originals/bc/24/96/bc2496756b76dee9200370bf0b848967.jpg);
	background-size: 100%;
}
#logo{
	background: rgba(140,250,170,0.8);
	color: white;
	text-align: center;
	border: solid 10px;
	border-radius: 15px;
	height: 80px;
	padding-top: 5px;
	text-align: center;
	margin-left: 525px;
	margin-right: 525px;
}
#paginas{
	background: rgba(255,255,100,0.8);
	color: black;
	text-align: center;
	border: groove 20px;
	border-radius: 30px;
	border-color: yellow;
	margin-left: 200px;
	margin-right: 200px;
	padding-bottom: 10px;
}
#body2{
	background: rgba(25,25,25,0.5);
	color: white;
	border: groove 20px;
	border-radius: 20px;
	margin-left: 50px;
	margin-right: 50px;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 20px;
	margin-top: 50px;
}
#titulos{
	background: rgba(25,25,25,0.5);
	color: white;
	text-align: center;
}
#region{
	background: rgba(25,25,25,0.5);
	color: white;
	text-align: center;
}
#starters{
	background: rgba(25,25,25,0.5);
	color: white;
	text-align: center;
}
table, td{
	border:1px solid;
	background: rgba(25,25,25,0.5);
	text-align: center;
}
th{
	border:1px solid;
	background: rgba(25,25,25,0.5);
	text-align: center;
	text-decoration: underline;
}
body{
	border: 2px solid black;
	background: rgba(25,25,25,0.5);
	color: white;
	text-align: center;
	padding: 10px;
	padding-left: 40px;
	padding-right: 40px;
	margin: 25px;
	margin-left: 50px;
	margin-right: 50px;
}
.local{
	background: rgba(255,200,145,0.8);
	color: black;
	text-align: center;
	border: solid 15px;
	border-radius: 200px;
	border-color: orange;
	margin-left: 200px;
	margin-right: 200px;
}
p{
	text-align: center;
}
.tabla1{
	margin:10px auto;
	border:1px solid;
	background: rgba(25,25,25,0.5);
	text-align: center;
}
.medio{
	text-align: center;
}
.derecha{
	text-align: right;
}
.izquierda{
	text-align: left;
}
.lineunder{
	text-decoration: underline;
}
.lineunderizquierda{
	text-decoration: underline;
	text-align: left;
}
.centrado{
	margin:10px auto;
	display:block;
}
.GRASS{
	background-color:#1fb819;
}
.FIRE{
	background-color:#d81e1e;
}
.WATER{
	background-color:#1691c1;
}
img.resizecenter{
	max-width:30%;
	max-height:30%;
	margin:10px auto;
	display:block;
}
.resizehalf{
	max-width:50%;
	max-height:50%;
}
.resizepoke{
	max-width: 50%;
	height: auto;
}
section{
	border: solid white;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

li{
	display: inline;
	font-weight: bold;
	height: 50px;
	width: 150px;
	background-color: #c3ee77;
	padding	: 10px; 	
	border-style: ridge;
	border-width:5px;
	border-color: green;
	transition-property: color, width, background-color, border-radius, text-align, transform;
	transition-duration: .3s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;
	text-align: center;
}
li:hover{
	color: blue;
	border-color: blue;
	background-image: radial-gradient(#c3ee77, #c3ee77, #c3ee77, #c3ee77, #c3ee77);
	text-align: center;
	height: 70px;
	width: 175px;
}
li:active{
	color: red;
	border-color: red;
	background-color: red;
}