body{
  background-color: #FFFFF0;
  font-size: 20px;
}
h1{
  font-weight: bold;

}

a{
  color: red;
}

section{
  background-color: #759E4C;
  margin-left: 50px;
  margin-right: 900px;
  border: solid 50px green;
  padding: 50px;
}

p{
  font-weight: bold;

}
