/*Comentario*/
#inicio{
	font-family:Arial, sans-serif;
	font-size: 18px;
	font-color: green;
		
	background-color: #5F2222;
	
	text-align: center;
}
h1{
	color: pink;
}
P{
	color: #1aff12;
}
a{
	height:50px;
	width:100px;
}
.referencia1{
	display:block;
}
.referencia2{
	display:inline;
}
.referencia3{
	display:inline-block;
}
b{
	color: black;
}
.paragraph1{
	width:50px;
	display:block;
}
.paragraph2{
	/*width:100px;*//*no espot cambiar width amb inline*/
	display:inline;
}
.paragraph3{
	width:500px;
	display:inline-block;
}
#image1{
	float: left;
	clear: left;
}
#image2{
	float: right;
	clear: right;
}
