th {
  background-color: #1E90FF;
}

td {
  background-color: #72a8ff;
}

tr:nth-child(even) td {
  /*background-color: #1E90FF;*/
}

ul{
 border: 5px solid red
}

li{
font-style: italic;
list-style: square inside;
}
